@import "@shared/fonts/fonts";
@import "@shared/colors/colors";

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top:200px;
  margin-bottom: 140px;
  padding: 20px;
  background-color: $black;
  color: $white;
  border: 2px solid $darkGreen;
  border-radius: 10px;
  font-family: $binaryText;
  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 70px;
    margin-top:70px;
  }
}


.header {
  display: flex;
  justify-content: center;
  font-size: 48px;
  margin-bottom: 31px;
  @media (max-width: 768px) {
    font-size: 24px;
    text-align: left;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 50px;
  @media (max-width: 768px) {
    gap:6px;
  }

}
.button {
  font-family: $binaryText;
  background-color: $black;
  color: $white;
  padding: 10px 20px;
  border: 2px solid $darkGreen;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
  @media (max-width: 768px) {
    font-size: 13px;
    padding: 6px 12px;
  }
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 12px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}


.card {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $black;
  height: 250px;
  color: $darkGreen;
  border: 2px solid $green;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 #00FF0033;
  @media (max-width: 768px) {
    height: auto;
  }
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color:$green;
  text-shadow: 0 0 20px $green;
  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.card p {
  font-size: 20px;
  margin: 5px 0;
  color:$white;
  @media (max-width: 768px) {
    font-size: 8px;
  }
}

.card strong {
  font-size: 20px;
  color:$white;
  @media (max-width: 768px) {
    font-size: 8px;
  }
}
