@import "@shared/colors/colors";

.bodyContainer{
  background-color: $black;
  overflow-x: hidden;
}

.mainContainer{
  background-color: $black;
  display: flex;
  justify-content: space-evenly;
}

.outletContainer{

}